/** @format */

.topSection {
  display: flex;
  flex-direction: column;
  height: 6vh;
  font-family: "Outfit";
}

.text {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-bottom: auto;
  margin-top: auto;

  .topLeft {
    width: 50%;
    margin-left: 2%;
    p {
      color: #200f05;
      text-decoration: none;
      padding-top: auto;
      padding-bottom: auto;
      font-size: 36px;
      vertical-align: center;
    }
  }

  .topRight {
    width: 50%;
    text-align: right;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;

    a {
      color: #200f05;
      text-decoration: none;
      padding-top: auto;
      padding-bottom: auto;
      font-size: 24px;
      vertical-align: middle;
      margin: 2%;
      vertical-align: center;
    }
  }
}
.topLine {
  height: 4px;
  background-color: black;
  width: 100%;
}

.hero {
  background-image: url("images/heroblur.jpg");
  background-size: cover;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  .leftArea {
    height: 100%;
    width: 50%;
    position: absolute;
    margin-left: 2%;
    top: 25%;
    bottom: 50%;

    img {
      height: 65%;
      vertical-align: middle;
    }
  }
}
