/** @format */

.contact {
  height: 20vh;
  display: flex;
  flex-direction: row;
  background-color: #40bf75;

  .left {
    width: 33.33%;
    height: 100%;
    vertical-align: center;
    display: flex;
    align-items: center;

    .text {
      margin: auto;
      padding: auto;
      flex-direction: column;
      margin-left: 8%;

      a {
        text-decoration: none;
        font-family: "Outfit";
        font-size: 24px;
        color: #200f05;
      }

      p {
        text-decoration: none;
        font-family: "Outfit";
        font-size: 24px;
        color: #200f05;
      }
    }
  }

  .mid {
    width: 33.33%;
    height: 100%;
    margin: auto;
    padding: auto;
    display:flex;
    flex-direction: column;

    vertical-align:center;
    align-items:center;
    img {
      max-height: 13vh;
      display:flex;
      flex-direction: column;
      padding-top:4vh;
      

      
    }
  }

  .right {
    width: 33.33%;
    height: 100%;
    vertical-align: center;
    display: flex;
    align-items: center;
    text-align:right;

    .text {
      margin: auto;
      padding: auto;
      flex-direction: column;
      margin-right: 8%;

      a {
        text-decoration: none;
        font-family: "Outfit";
        font-size: 24px;
        color: #200f05;
      }

      p {
        text-decoration: none;
        font-family: "Outfit";
        font-size: 24px;
        color: #200f05;
      }
    }
  }
}
